.admin-nav-item {
    margin-bottom: 5px;
}

.stats-icon {
    margin-left: 0.3em;
}

.change-password {
    width: 150px;
}

.hidden-metadata {
    display: none;
}

.api-quota {
    display: inline;
}

input.api-quota {
    display: inline;
    width: 9em;
    font-size: .85em;
    height: auto;
    padding-left: 0.8em;
}

.dt-column-title {
    white-space: nowrap;
}

table button {
    white-space: nowrap;
}

table select {
    min-width: 4.6rem;
}

table .long-link-url {
    display: inline-block;
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}