.form-submit {
    width: 100%;
}

/* captcha */
.g-recaptcha {
    margin-bottom: 2em;
}

.captcha-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.captcha-box img, .captcha-box input {
    width: 49%;
}

.captcha-message {
    margin-bottom: 2rem;
    color: red;
    text-align: left;
}