@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.navbar-brand {
    font-family: "Lobster";
}

.setup-logo {
    height: 70px;
    margin-bottom: 40px;
}

body {
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/setup.jpg);
    font-family: 'Open Sans', sans-serif;
}


h4, p {
    margin-top: 20px;
}