.form-field {
    margin-bottom: 25px;
}

.right-col-one {
    margin-top: 83px;
}

.right-col-next {
    padding-top: 25px;
}

.title {
    padding-bottom: 20px;
}

.login-prompt {
    padding-top: 15px;
}

/* captcha */
.g-recaptcha {
    margin-bottom: 2em;
}

.captcha-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.captcha-box img, .captcha-box input {
    width: 49%;
}

.captcha-message {
    margin-bottom: 2rem;
    color: red;
    text-align: left;
}